.content {
  display: flex;
  padding: 75px;
  flex-grow: 1;
  gap: 50px;
  justify-content: center;
  align-items: start;
  transform: translateY(100px);
  animation: fromY 1s ease forwards;
}

.textContent {
  height: 500px;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 50px;
  opacity: 0;
  transform: translateX(100px);
  animation: fromX 1s ease forwards 1s;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-grow: 1;
}

@media (max-width: 1115px) {
  .content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 680px) {
  .textContent {
    height: 100%;
    align-items: center;
  }
}

@keyframes fromY {
  to {
    transform: translateY(0px);
  }
}

@keyframes fromX {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
