.popup {
  position: fixed;
  top: 150px;
  right: 50px;
  background-color: #ff4d4f;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
  z-index: 9998;
  opacity: 0;
  font-size: 2rem;
  transform: translateY(10px);
  animation: fromY 1s ease forwards;
}

.closeButton {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

@keyframes fromY {
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
