.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.label {
  font-size: 3rem;
  font-family: inherit;
}

.textarea {
  border: none;
  border-radius: 5px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 15px;
  font-size: 1.5rem;
  outline: none;
  background: var(--color-light--2);
  transition: border-color 0.3s, box-shadow 0.3s, transform 0.5s ease;
}

.textarea:focus {
  border: 2px var(--color-brand--2) solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
