.content {
  padding: 75px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: start;
}

.contentText {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

@media (max-width: 950px) {
  .content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
